docker {
    enabled = true
    runOptions = "-u \$(id -u):\$(id -g)"
}

report {
    enabled = true
    file = "report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "dag.png"
    overwrite = true
}